<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Logged</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/script.js" defer></script>
</head>
<body>
  <div class="bubbles" aria-hidden="true">
    <div class="bubble b1"></div>
    <div class="bubble b2"></div>
  </div>

  <main class="card" role="main" aria-labelledby="signin-title">
    <div id="clock">
      <div class="time" id="time">00:00</div>
      <div class="date" id="date">-- -- ----</div>
    </div>

    <div class="avatar" aria-hidden="true">
      <img src="/static/profile.jpg" alt="Avatar" />
    </div>

    <div class="infos" aria-hidden="true">
      <span id="email">Email: {{ email }}<br></span>
      <span id="name">Name: {{ name }}<br></span>
      <span id="lastname">Lastname: {{ lastname }}<br></span>
      <span id="realmrole">Realmrole: {{ realmrole }}<br></span>
      <span id="token">Token: {{ token }}<br></span>
      <span id="refreshtoken">Refresh: {{ refreshtoken }}<br></span>
    </div>

  </main>
</body>
</html>
